spring:
  application:
    name: notification-service
  config:
    import: optional:configserver:http://${CONFIG_SERVER_HOST:localhost}:${CONFIG_SERVER_PORT:8088}

server:
  port: ${NOTIFICATION_SERVICE_PORT:8089}

eureka:
  instance:
    hostname: ${HOSTNAME:localhost}
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8763/eureka/}

management:
  endpoints:
    web:
      exposure:
        include: health,info

# Logging
logging:
  level:
    com.hms.notification_service: INFO
