spring:
  application:
    name: medicine-service
  docker:
    compose:
      enabled: false

server:
  port: 8081
  servlet:
    context-path: /medicine-service

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
