spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/configuration
      override-system-properties: false
server:
  port: ${CONFIG_SERVER_PORT:8888}

